.contact {
  background: linear-gradient($primaryColor, $secondColor);
  min-height: 100vh;

  .boxWithoutHeader {
    padding: 50px;

    h1 {
      font-size: 35px;
      font-weight: $medium;
      text-align: center;
    }
  }
}
