.homePage {
  background: linear-gradient($primaryColor, $secondColor);
  min-height: 100vh;

  .boxWithoutHeader {
    padding: 50px;
    font-size: 20px;

    h1 {
      font-size: 35px;
      font-weight: $medium;
      text-align: center;
      color: $buttonColor;
      border: 1px solid $buttonColor;
    }

    h2 {
      font-size: 25px;
      font-weight: $medium;
    }

    .endButton {
      display: flex;
      justify-content: center;

      .buttonRdv {
        background-color: $textColor;
        color: $buttonColor;
        width: 350px;
        height: 80px;
        border-radius: 30px;
        font-size: 35px;
      }
      .buttonRdv:hover {
        color: $secondColor;
      }
    }
  }
}
