@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;500;600;700&display=swap");

$primaryColor: #ffe596;
$secondColor: #f3aff0;
$middleColor: #f9cac2;
$textColor: black;
$buttonColor: white;

$fontFamily: "Mohave", sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$logo: url("./assets/logo.png");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $fontFamily;
  font-weight: $regular;

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $textColor;
  }
  ::-webkit-scrollbar-thumb {
    background: $middleColor;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $middleColor;
  }
}

@import "./components/header.scss";
@import "./pages/admin.scss";
@import "./pages/home.scss";
@import "./pages/rdv.scss";
@import "./pages/contact.scss";
@import "./pages/login.scss";
@import "./components/calendrier.scss";
